.App {
  background-color: #F4CE14;
}

.mail-icon:hover {
  color:#F4CE14;
}

.fb-icon:hover {
  color:#F4CE14;
}

.ig-icon:hover {
  color:#F4CE14;
}

.mb-2:hover {
  color:#F4CE14;
}

.card.custom-class {
  background-color: #495E57;
  color:white;
  margin-left: auto;
  margin-right: auto;
}

.nav-items {
  font-family: Karla;
}

.reserve-btn {
  margin-left: 1.15rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.specials {
  font-family: Karla;
}

.order-btn {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.main-title {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.test-title {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.test-cards {
  font-family: Karla;
}

.card.about-card {
  background-color: #F4CE14;
  color:#495E57;
  margin-left: auto;
  margin-right: auto;
}