.App {
  background-color: #F4CE14;
}

.mail-icon:hover {
  color:#F4CE14;
}

.fb-icon:hover {
  color:#F4CE14;
}

.ig-icon:hover {
  color:#F4CE14;
}

.mb-2:hover {
  color:#F4CE14;
}

.card.custom-class {
  background-color: #495E57;
  color:white;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.nav-items {
  font-family: Karla;
}

.reserve-btn {
  margin-left: 1.15rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.card.specials-card {
  font-family: Karla;
  color: white;
  border: none;
  background-color: #495E57;
}

.order-btn {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.main-title {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.test-title {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.test-cards {
  font-family: Karla;
}

.card.about-card {
  background-color: #F4CE14;
  color: #495E57;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.container.test-container {
  background-color: rgb(73, 94, 87, .4);
  border-radius: .75rem;
}

input.input-errors,
select.input-errors {
border-color: #fc8181;
}